<template>
  <div class="d-flex justify-content-center mb-5">
    <h1>
      Welcome to the Newsfeed
    </h1>
  </div>
  <div class="d-flex justify-content-center">
    <h1>
      <button
        @click="navigateToNewsFeedPage"
        class="btn btn-primary mt-5 "
      >
        Navigate to Newsfeed Page
      </button>
    </h1>
  </div>
</template>

<script>
import router from '@/router'

export default {
  name: 'Home',
  components: {},
  methods: {
    navigateToNewsFeedPage () {
      router.push('/newsFeed')
    }
  }
}
</script>
