<template>
  <container class="row justify-content-center">
    <div class="card col-md-11 ">
      <div class="card-body">
        <search-bar />
        <news-feed-entry-modal />
      </div>
    </div>
  </container>
</template>

<script>
import SearchBar from '../components/SearchBar'
import NewsFeedEntryModal from '../components/NewsFeedEntryView'
export default {
  name: 'App',
  components: { SearchBar, NewsFeedEntryModal }
}
</script>

<style>
</style>
