<template>
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary me-1"
    @click="toggleModal"
  >
    {{ buttonTextLocal }}
  </button>
  <!-- Modal -->
  <div
    v-if="modalActiveLocal"
    style="display:block"
    class="w3-modal"
  >
    <div class="w3-modal-content card">
      <form class="was-validated">
        <div class="card-body">
          <div>
            <label
              class="form-label"
            >Author</label>
            <input
              required
              placeholder="Author required"
              class="form-control is-invalid"
              v-model="newOrUpdatedNewsFeedDataEntryLocal.author"
            >
          </div>
          <div>
            <label
              class="form-label"
            >Title</label>
            <input
              required
              placeholder="Title required"
              class="form-control is-invalid"
              v-model="newOrUpdatedNewsFeedDataEntryLocal.title"
            >
          </div>
          <div>
            <label
              class="form-label"
            >Body</label>
            <input
              required
              placeholder="Body required"
              class="form-control is-invalid"
              v-model="newOrUpdatedNewsFeedDataEntryLocal.body"
            >
          </div>
          <div class="container mt-2">
            <div class="row">
              <div class="col">
                <button
                  @click="resetNewNewsFeedEntry"
                  type="button"
                  class="btn btn-secondary me-2"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  :disabled="updateActive()"
                  @click="createOrUpdateEntry"
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                >
                  {{ buttonTextLocal }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import _ from 'lodash'

export default {
  name: 'NewOrUpdateNewsFeedEntryModal',
  props: {
    newOrUpdatedNewsFeedDataEntry: {
      type: Object,
      required: true
    },
    buttonText: {
      type: String,
      required: true
    },
    newModal: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      modalActiveLocal: false,
      buttonTextLocal: null,
      newOrUpdatedNewsFeedDataEntryLocal: null,
      newModalLocal: null
    }
  },
  created () {
    this.newOrUpdatedNewsFeedDataEntryLocal = _.cloneDeep(this.newOrUpdatedNewsFeedDataEntry)
    this.buttonTextLocal = this.buttonText
    this.newModalLocal = this.newModal
  },
  methods: {
    ...mapActions([
      'createOrUpdateNewNewsFeedDataEntryAction',
      'deleteNewsFeedDataEntryAction'
    ]),
    updateActive () {
      return _.isEmpty(this.newOrUpdatedNewsFeedDataEntryLocal.title) ||
          _.isEmpty(this.newOrUpdatedNewsFeedDataEntryLocal.body) ||
          _.isEmpty(this.newOrUpdatedNewsFeedDataEntryLocal.author)
    },
    createOrUpdateEntry () {
      this.createOrUpdateNewNewsFeedDataEntryAction(
        _.cloneDeep(this.newOrUpdatedNewsFeedDataEntryLocal)
      )
      this.resetNewNewsFeedEntry()
    },
    resetNewNewsFeedEntry () {
      if (this.newModalLocal) {
        this.newOrUpdatedNewsFeedDataEntryLocal = _.cloneDeep(this.newOrUpdatedNewsFeedDataEntry)
      }
      this.toggleModal()
    },
    toggleModal () {
      this.modalActiveLocal = !this.modalActiveLocal
    }
  }
}
</script>

<style scoped>

</style>
