<template>
  <div class="row">
    <div
      class="col-sm-4 mb-3"
      v-for="paginatedData in paginatedDataEntries"
      :key="paginatedData.id"
    >
      <div class="card">
        <div class="card-body">
          <label>Author</label>
          <div class="form-control mb-2">
            {{ paginatedData.author }}
          </div>
          <label>Title</label>
          <div class="form-control mb-2">
            {{ paginatedData.title }}
          </div>
          <label>Body</label>
          <div class="form-control ">
            {{ paginatedData.body }}
          </div>
        </div>
        <div class="container mb-2">
          <div class="row">
            <div class="col">
              <NewOrUpdateNewsFeedEntryModal
                :new-or-updated-news-feed-data-entry="paginatedData"
                :button-text="'Update'"
                :new-modal="false"
              />
              <button
                class="btn btn-danger me-2 "
                @click="deleteEntry(paginatedData.id)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--    Paging -->
    <div
      v-if="Math.ceil(data.length / perPage) >= 1"
      class="row"
    >
      <div class="col ">
        <button
          class="btn btn-primary me-1"
          @click="backPage"
        >
          prev
        </button>
        <button
          class="btn btn-primary me-1 ms-1"
          v-for="page in Math.ceil(data.length / perPage)"
          :key="page"
          @click="() => goToPage(page)"
        >
          {{ page }}
        </button>
        <button
          class="btn btn-primary ms-1"
          @click="nextPage"
        >
          next
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import handlePagination from '../helpers/handlePagination'
import { mapActions } from 'vuex'
import _ from 'lodash'
import { newsFeedEntry } from '@/helpers/newsFeedEntry'
import NewOrUpdateNewsFeedEntryModal from '@/components/NewOrUpdateNewsFeedEntryModal'

export default {
  name: 'NewsFeedEntryModal',
  components: { NewOrUpdateNewsFeedEntryModal },
  data () {
    return {
      newOrUpdatedNewsFeedDataEntry: _.cloneDeep(newsFeedEntry)
    }
  },
  methods: {
    ...mapActions([
      'createOrUpdateNewNewsFeedDataEntryAction',
      'deleteNewsFeedDataEntryAction'
    ]),
    deleteEntry (newsFeedDataEntryId) {
      this.deleteNewsFeedDataEntryAction(newsFeedDataEntryId)
    }
  },
  setup () {
    const handlePaginationValue = handlePagination()
    return { ...handlePaginationValue }
  }
}
</script>

<style></style>
