<template>
  <div class="row mb-4">
    <div class="col-6">
      <input
        type="text"
        class="form-control dark-input"
        placeholder="Search..."
        v-model="searchBarFilterSettings.text"
      >
    </div>
    <div class="col">
      <select
        class="form-select"
        v-model="searchBarFilterSettings.sortValue"
      >
        <option
          v-for="sortValue in sortValues"
          :key="sortValue.value"
          :value="sortValue"
        >
          {{ sortValue.bezeichnung }}
        </option>
      </select>
    </div>
    <div class="col">
      <select
        class="form-select"
        v-model="searchBarFilterSettings.sortOrder"
      >
        <option
          v-for="sortOrder in sortOrders"
          :key="sortOrder.value"
          :value="sortOrder"
        >
          {{ sortOrder.bezeichnung }}
        </option>
      </select>
    </div>
    <div class="col">
      <NewOrUpdateNewsFeedEntryModal
        :new-or-updated-news-feed-data-entry="newNewsFeedEntry"
        :button-text="'Create'"
        :new-modal="true"
      />
    </div>
    <div class="col">
      <button
        class="btn btn-primary"
        @click="initData"
      >
        DemoData
      </button>
    </div>
  </div>
</template>

<script>
import { newsFeedEntry } from '@/helpers/newsFeedEntry'
import store from '@/store'
import { sortOrders, sortValues } from '@/helpers/sort'
import { mapActions } from 'vuex'
import NewOrUpdateNewsFeedEntryModal from '../components/NewOrUpdateNewsFeedEntryModal'
import _ from 'lodash'

export default {
  name: 'SearchBar',
  components: { NewOrUpdateNewsFeedEntryModal },
  data () {
    return {
      sortOrders: sortOrders,
      sortValues: sortValues,
      newNewsFeedEntry: _.cloneDeep(newsFeedEntry)
    }
  },
  methods: {
    ...mapActions([
      'loadInitDataAction'
    ]),
    initData () {
      this.loadInitDataAction()
    }
  },
  computed: {
    searchBarFilterSettings () {
      return store.getters.searchBarFilterGetter
    }
  }
}
</script>

<style scoped></style>
