<template>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid navigation-bar">
      <button
        class="burger-menu m-auto navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#nav-bar-nav-alt-markup"
        aria-controls="nav-bar-nav-alt-markup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        ...
      </button>
      <div
        class="collapse navbar-collapse"
        id="nav-bar-nav-alt-markup"
      >
        <ul class="navbar-nav textMenuItems">
          <li class="nav-item">
            <router-link
              active-class="active"
              tag="li"
              class=" nav-link  active"
              aria-current="page"
              to="/"
            >
              Home
            </router-link>
          </li>
          <li class="nav-item">
            <router-link
              active-class="active"
              tag="li"
              class=" nav-link  active"
              aria-current="page"
              to="/newsFeed"
            >
              Newsfeed
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-view />
</template>

<script>

export default {
}
</script>

<style>
</style>
